<style>
    footer {
        background-color: #333333ac;
        color: white;
        text-align: center;
        padding: 0.2rem;
        bottom: 0;
        width: 100%;
        margin-top: auto;
    }
</style>

<footer>
    <h4>&copy; <%= new Date().getFullYear() %> JubDev. All rights reserved.</h4>
</footer>