<nav>
    <ul>
        <li>
            <a href="/">Accueil</a>
        <% if(user) { %>
            <a href="/compte">Mon Compte</a>
        <% } else { %>
            <a href="/compte">S'authentifier</a>
        <% } %>
    </li>
    </ul>
</nav>